

html {
    font-size: 14px;
}

.blog-masthead {
    background-color: #b34848;
}

h1, h2, h3,
h4, h5, h6 {
    color: #b34848;
}

.blog-post-title:hover {
    color: #b34848;
    text-decoration: underline;  
}

.comments {
    list-style: none;
    padding:0;
}

.author {
    font-weight: bold;
}

.hidden {
    display: none;
}

a.latest {
    font-size: 14px;
    color: #b34848;
}


.add-comment {
    padding: 20px;
}